<div class="container">
  <div class="row" style="margin-top: 10%">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box box-header">
          <button type="button" (click)="onAdd()" class="btn btn-success" data-toggle="modal" data-target="#addPersonne">
          Ajouter
          </button>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <caption></caption>
            <thead>
            <tr>
              <th>N°</th>
              <th>Nom</th>
              <th>Prenom</th>
            <!--  <th>Telephone</th>
              <th>Adresse</th>-->
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="personnes && personnes.length <= 0">
              <td>Aucun résultat trouvé</td>
            </tr>
            <tr *ngFor="let p of personnes | paginate: { itemsPerPage: 10, currentPage: page }">
              <td>{{ personnes.indexOf(p) + 1 }}</td>
              <td>{{ p.nom ? p.nom : '' }}</td>
              <td>{{ p.prenom ? p.prenom : '' }}</td>
             <!-- <td>{{ p.telephone ? p.telephone : '' }}</td>
              <td>{{ p.adresse ? p.adresse : '' }}</td>-->
              <td>
                <button (click)="onUpdate(p)" type="button" data-toggle="modal" data-target="#addPersonne" class="btn btn-success">Modifier</button>&nbsp;&nbsp;&nbsp;
                <button (click)="onDelete(p)" type="button" data-toggle="modal" data-target="#addPersonne" class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer text-center">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addPersonne">
  <div [ngClass]="action === 'add' || action === 'update' ? 'modal-dialog modal-lg' : 'modal-dialog modal-sm'">
    <div class="modal-content no-radius">

        <div class="modal-header" *ngIf="action==='delete'">
          <h4 class="modal-title">Etes vous sur de vouloir le supprimer?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <form *ngIf="action==='add' || action === 'update'" action="" #addPersonne="ngForm" (ngSubmit)="action === 'add' ? save() : update()" class="user-form">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="pull-left" for="nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="nom"
                       required [(ngModel)]="personne.nom">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="pull-left" for="prenom">Prénom</label>
                <input type="text" class="form-control" name="prenom"
                      id="prenom" required [(ngModel)]="personne.prenom">
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="pull-left" for="tel">Téléphone</label>
                <input type="text" class="form-control" name="tel" id="tel"
                       required [(ngModel)]="personne.telephone">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="pull-left" for="adresse">Adresse</label>
                <textarea required id="adresse" rows="4" cols="50"
                          name="adresse" [(ngModel)]="personne.adresse"></textarea>
              </div>
            </div>
          </div>-->

        </div>

        <div class="modal-footer">
          <div class="col-md-12" style="margin-top: 2%">
            <div class="form-group">
              <div class="pull-right">
                <button [disabled]="!addPersonne.valid" type="submit" class="btn btn-primary">
                  Valider
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div *ngIf="action==='delete'" class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 text-center">
              <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="delete()">
                <span>Oui</span>
              </button>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
              <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><span>Non</span></button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


